*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.frame{
    background: #E27474;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    box-shadow: 2px 2px 3px #925555;
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
}
.card{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s;
}
.day-number{
    font-size: 3rem
}
.card:hover{
    border: none;
	box-shadow: inset 5px 5px 3px #583030,inset -5px -5px 3px #583030;
    transform: scale(0.95);
}
